/* src/App.css */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #1F2833;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the app takes up at least the full viewport height */
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    margin-left: 100px;
    margin-right: 100px;
  }
